@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback');
@import 'admin-lte/plugins/fontawesome-free/css/all.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';

#cropper-modal img {
    max-width: 0%;
    height: auto;
}

.preview {
    overflow: hidden;
    width: 189px;
    height: 189px;
}

.scrollable-x {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.scrollable-y {
    width: 100%;
    overflow-x: scroll;
    overflow: auto;
    white-space: nowrap;
}

.scrollable-y::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    /* width of the entire scrollbar */
}

.scrollable-y::-webkit-scrollbar-track {
    background: rgb(173, 173, 173);
    border-radius: 20px;

    /* color of the tracking area */
}

.scrollable-y::-webkit-scrollbar-thumb {
    background-color: rgb(83, 83, 223);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 3px solid orange; */
    /* creates padding around scroll thumb */
}

.color-square {
    position: relative;
    width: 75px;
    height: 75px;
    transition: background-color 0.1s ease-in-out;
    margin: 5px;
    border-radius: 5px;
}

.color-square:has(i) {
    cursor: pointer;
}

.color-square i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.color-square:hover {
    opacity: 0.5;
}

.color-square:hover i {
    opacity: 1;
}





.product-image {
    position: relative;
    width: 100px;
    height: 100px;
    transition: background-color 0.1s ease-in-out;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

.product-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.product-image:has(i) {
    cursor: pointer;
}

.product-image i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #000000;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.product-image:hover img {
    opacity: 0.25;
}

.product-image:hover i {
    opacity: 1;
}